body {
  margin: 0;
  background-color: peachpuff;
}

/* Mobile First */
main.blog {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows:
    100px
    50px
    auto
    50px;
  border: 2px solid aqua;
  grid-template-areas:
    'header'
    'nav'
    'posts'
    'footer';
}

.blog-box {
  border: 1px solid red;
  background: #f8fa9d;
}

/* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */
@media (min-width: 600px) {
  main.blog {
    border-color: greenyellow;
  }
}

/* tablet, landscape iPad, lo-res laptops ands desktops */
@media (min-width: 801px) {
  main.blog {
    border-color: pink;
  }
}
