* {
  color: #333;
  font-family: Karla, sans-serif;
  font-size: 14px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Karla, sans-serif;
}

a,
a:hover {
  color: #00b5ad;
}

a * {
  color: #333;
}

body {
  margin: 0;
  background-color: #eef8f7;
}

.vr {
  border-left: 0.2em solid black;
  height: 1em;
  margin: 0.2em;
}

input,
textarea {
  border: 0.01rem solid white;
}

.ui.input > input:focus,
input:focus,
textarea:focus {
  border-color: #00b5ad;
}

input:focus-visible,
textarea:focus-visible {
  outline: 0;
}
