body {
  margin: 0;
  /* background-color: peachpuff; */
  background-color: #eef8f7;
}

.blog-box {
  border: 1px solid red;
  /* background-color: #f8fa9d; */
}

.vr {
  border-left: 0.2em solid black;
  height: 1em;
  margin: 0.2em;
}

input:focus {
  border: 1px solid #00b5ad !important;
}

input:focus-visible {
  outline: 0 !important;
}

input {
  font-family: Karla, sans-serif !important;
}

/* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */
@media (min-width: 600px) {
  main.blog {
    border-color: greenyellow;
  }
}

/* tablet, landscape iPad, lo-res laptops ands desktops */
@media (min-width: 961px) {
  main.blog {
    border-color: pink;
  }
}
