@import '_layout.css';
@import '_nav.css';

header {
  grid-area: header;
  display: flex;
  align-items: center;
  justify-content: center;
}

section.posts {
  grid-area: posts;
  overflow: auto;
}

footer {
  grid-area: footer;
}
