/* Mobile First */
section.shoulder {
  grid-area: shoulder;
  display: none;
}

section.shoulder * {
  color: #333;
}

section.shoulder > aside.widget {
  margin: 0 0 1.9rem;
  padding: 0 0 1.5rem;
  background-color: rgba(255, 255, 255, 0.85);
  border-top: 0.01rem solid #00b5ad;
  font-family: 'Cormorant Garamond', serif;
}

section.shoulder > aside.widget.related-post {
  border: 0.01rem solid #eef8f7;
  border-top-color: #00b5ad !important;
}

section.shoulder > aside.widget,
section.shoulder > aside.widget > a {
  display: flex;
  flex-direction: column;
  align-items: center;
}

section.shoulder > aside.widget .title,
section.shoulder > aside.widget.related-post .category {
  font-family: 'Cormorant Garamond', serif;
  padding: 1em 0 0.5em;
}

section.shoulder > aside.widget .primary.title,
section.shoulder > aside.widget.related-post .category {
  padding: 0;
  text-transform: capitalize;
  margin: 2.2rem 0 0;
  font-weight: 500;
}

section.shoulder > aside.widget .secondary.title,
section.shoulder > aside.widget.related-post .title {
  font-family: Karla, sans-serif;
  padding: 0;
  margin: 0.5em 1em;
}

section.shoulder > aside.widget.related-post .title {
  text-transform: uppercase;
  word-break: break-word;
}

section.shoulder > aside.widget.newsletter > footer {
  display: grid;
  width: 100%;
}

section.shoulder > aside.widget.newsletter > footer > input[type='text'] {
  grid-area: 1 / 1;
  line-height: 2.8rem;
  background-color: #eef8f7;
  border: 0.01rem solid rgba(255, 255, 255, 0.85);
  text-align: center;
  width: 85%;
  margin: auto;
}

section.shoulder > aside.widget.newsletter > footer > input[type='submit'] {
  grid-area: 1 / 1;
  color: #00b5ad;
  border: none;
  background: 0 0;
  cursor: pointer;
  margin-left: 70%;
}

section.shoulder > aside.widget figure {
  width: 100%;
  margin: 0;
  height: 17em;
}

section.shoulder > aside.widget figure > img {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

section.shoulder > aside.widget .description {
  margin: 1em;
  text-align: justify;
  font-family: Karla, sans-serif;
}

section.shoulder > aside.widget.popular > ol {
  list-style-type: none;
  padding-inline-start: 0;
  margin: 0 1.5rem;
}

section.shoulder > aside.widget.popular > ol > li {
  counter-increment: step-counter;
  line-height: 1.3rem;
  padding: 0.15rem 0 0 2.8rem;
  position: relative;
  margin: 1.1rem 0 0 1.4rem;
  font-size: 1.2rem;
}

section.shoulder > aside.widget.popular > ol > li:nth-child(n + 6) {
  display: none;
}

section.shoulder > aside.widget.popular > ol > li:before {
  content: counter(step-counter);
  margin-right: 0;
  font-size: 2.5rem;
  font-family: Prata, serif;
  color: #b7b7b7;
  width: 4rem;
  text-align: center;
  position: absolute;
  top: 33%;
  left: -3%;
  -webkit-font-smoothing: antialiased;
}

section.shoulder > aside.widget.popular > ol > li > a {
  font-family: 'Cormorant Garamond', serif;
  font-style: italic;
}

section.shoulder > aside.widget.popular > ol > li > a:hover {
  color: #00b5ad;
}

section.shoulder > aside.widget.popular > .more {
  font-size: 1.2em;
  margin-top: 1.5rem;
  color: #00b5ad;
}

section.shoulder > aside.widget.popular > .more * {
  color: #00b5ad;
  font-weight: bold;
  font-family: 'Cormorant Garamond', serif;
  font-size: 1.15rem;
}

/* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */
@media (min-width: 600px) {
  section.shoulder {
    display: block;
  }
}
